---
http_interactions:
- request:
    method: get
    uri: https://api.genius.com/referents?song_id=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer WPE5-lEMGcjBKmYDgnZZQZtsv6O_onWAea6n7y7Fzu74kewYC2Om4Sp3aB9zptWb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5e4d3179252b36a0f3113fd2aa868f96"
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"status":200},"response":{"referents":[]}}'
  recorded_at: Sun, 06 Jan 2019 01:07:13 GMT
recorded_with: VCR 4.0.0
